*.cache*
*.log

# Emacs
**/.emacs.d/auto-save-list/
**/.emacs.d/.*
**/.emacs.d/elpa/
**/.emacs.d/eshell
**/.emacs.d/server/
**/.emacs.d/tramp
**/.emacs.d/straight
**/.emacs.d/saves
**/.emacs.d/emacs/.emacs.d/recentf
**/.emacs.d/.extension
**/.emacs.d/eln-cache/**
*~*
*#*

*.elc
*.lib
*.fas
*.dat
*.eld
